<head>
    <link rel="stylesheet" href="/stylesheets/profile_style.css">
</head>

<div class="container-md">
    <div class="row mt-3">

        <!--Tab menu-->
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <b>MOJE KONTO</b>
                </div>
                <div class="btn-group-vertical tab" role="group" id="choose-card">
                    <button class="tab-links" onclick="pressTab(event, 'tickets')">Moje bilety</button>
                    <button class="tab-links" onclick="pressTab(event, 'account_info')">Zmień hasło</button>
                    <button class="tab-links" onclick="pressTab(event, 'private_info')">Zmień dane osobowe</button>
                    <button class="tab-links" onclick="pressTab(event, 'delete_account')">Usuń konto</button>
                </div>
            </div>
        </div>

        <!--My tickets tab-->
        <div class="tabcontent col-8" id="tickets">
            <div class="card" id="card-content">
                <div class="card-header">
                    MOJE BILETY
                </div>
                <div class="card-body mx-3">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Lp.</th>
                            <th scope="col">TYTUŁ</th>
                            <th scope="col">DATA</th>
                            <th scope="col">GODZINA</th>
                            <th scope="col">SALA</th>
                            <th scope="col">RZĄD</th>
                            <th scope="col">MIEJSCE</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if tickets|length > 0 %}
                            {% for ticket in tickets %}
                                <tr onclick="location.href='/movies/show/{{ ticket['mid'] }}'">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ ticket['title'] }}</td>
                                    <td>{{ ticket['day']|date('d-m') }}</td>
                                    <td>{{ ticket['time'][0:5] }}</td>
                                    <td>{{ ticket['hid'] }}</td>
                                    <td>{{ ticket['tier'] }}</td>
                                    <td>{{ ticket['seat'] }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <td colspan="7" class="no-tickets-info">BRAK BILETÓW</td>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Change password tab-->
        <div class="tabcontent col-8" id="account_info">
            <div class="card" id="card-content">
                <div class="card-header">
                    ZMIEŃ HASŁO
                </div>
                <div class="card-body mx-3">
                    <form action="/profile" method="POST">
                        <input class="password_inputs" type="password" name="current_password" placeholder="Aktualne hasło" required>
                        <br>
                        <input class="password_inputs" type="password" name="changed_password" placeholder="Nowe hasło" required>
                        <br>
                        <input class="password_inputs" type="password" name="changed_password_repeat" placeholder="Powtórz nowe hasło" required>
                        <br>
                        <input type="submit" class="btn btn-success btn-lg" value="ZMIEŃ HASŁO">
                        <br>
                        {{ message_password }}
                    </form>
                </div>
            </div>
        </div>

        <!--Update personal data tab-->
        <div class="tabcontent col-8" id="private_info">
            <div class="card" id="card-content">
                <div class="card-header">
                    ZMIEŃ DANE OSOBOWE
                </div>
                <div class="card-body mx-3">
                    <form action="/profile" method="POST">
                        <input class="user_inputs" type="text" name="changed_name" placeholder="Imię" value="{{ name }}" required>
                        <input class="user_inputs" type="text" name="changed_surname" placeholder="Nazwisko" value="{{ surname }}" required>
                        <br>
                        <input class="user_inputs" type="text" name="changed_street" placeholder="Ulica" value="{{ street}}" required>
                        <input class="user_inputs" type="text" name="changed_street_number" placeholder="Nr domu/lokalu" value="{{ street_number }}" required>
                        <br>
                        <input class="user_inputs" type="text" name="changed_postcode" placeholder="Kod pocztowy" value="{{ postcode }}" required>
                        <input class="user_inputs" type="text" name="changed_city" placeholder="Miasto" value="{{ city }}" required>
                        <br>
                        <input class="user_inputs" type="email" name="changed_email" placeholder="E-mail" value="{{ email }}" required>
                        <input class="user_inputs" type="text" name="changed_phone_number" placeholder="Telefon" value="{{ phone_number }}" required>
                        <br>
                        <input type="submit" class="btn btn-success btn-lg" value="ZMIEŃ DANE">
                        <br>
                        {{ message_user }}
                    </form>
                </div>
            </div>
        </div>

        <!--Delete account tab-->
        <div class="tabcontent col-8" id="delete_account">
            <div class="card" id="card-content">
                <div class="card-header">
                    USUŃ KONTO
                </div>
                <div class="card-body mx-3">
                    <form action="/profile" method="POST">
                        <a>Usunięcie konta wymaga potwierdzenia hasłem.</a>
                        <br>
                        <input class="delete_input" type="password" name="password_confirm" placeholder="Hasło" required>
                        <br>
                        <input id="delete_button" type="submit" class="btn btn-danger btn-lg" value="USUŃ KONTO">
                        <br>{{ message_delete }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    document.getElementById("tickets").style.display = "block";

    function pressTab(evt, tab) {
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tab-links");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tab).style.display = "block";
        evt.currentTarget.className += " active";
    }

     var current_tab = "{{ current_tab }}";
     if(current_tab=="account_info"){
         pressTab(event, "account_info");
     } else if (current_tab == "private_info") {
         pressTab(event, "private_info")
     } else if (current_tab == "delete_account"){
         pressTab(event, "delete_account")
     }

</script>